/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


body {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
}

header,
footer {
  flex-basis: 100%;
}

article {
  flex-basis: 60%;
  height: 200px;
}

nav,
aside {
  flex-basis: 20%;
  
}

.text {
  padding: 10px;
}